# Part 1:

scrapping data from wikipedia:

In [34]:
import requests
import pandas as pd
from geopy.geocoders import Nominatim

In [35]:
from bs4 import BeautifulSoup

In [36]:
!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

In [37]:
!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

In [38]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
Page= requests.get(url).text

In [39]:
Bsoup= BeautifulSoup(Page,'lxml')
TargetTabel=Bsoup.find('table')

In [40]:
table = pd.read_html(Page)
df = pd.DataFrame(table[0])
df.columns=['Postcode','Borough','Neighbourhood']
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [41]:
#Delete 'Not Assigned' values from the dataframe
df=df[df.Borough != 'Not assigned']
UpdatedDF=pd.DataFrame(df)

#Combined Neighbourhoods at the same Postcode
UpdatedDF2=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
UpdatedDF2=UpdatedDF2.reset_index()
UpdatedDF2.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                      Malvern,Rouge
1       M1C  Scarborough               Rouge Hill,Highland Creek,Port Union
2       M1E  Scarborough                    West Hill,Guildwood,Morningside
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough          Kennedy Park,Ionview,East Birchmount Park
7       M1L  Scarborough                      Golden Mile,Clairlea,Oakridge
8       M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
9       M1N  Scarborough                         Birch Cliff,Cliffside West
10      M1P  Scarborough  Scarborough Town Centre,Wexford Heights,Dorset...
11      M1R  Scarborough                                   Wexford,Maryvale
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough              Clarks Corners,Tam O'Shanter,Sullivan
14      M1V  Scarborough  Steeles East,Agincourt North,Milliken,L'Amorea...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                         Fairview,Henry Farm,Oriole
19      M2K   North York                                    Bayview Village

# Part 2:

In [42]:
url="https://cocl.us/Geospatial_data"
Gdata=pd.read_csv(url)
Gdata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [43]:
#Extract the last two columns
NewGdata= Gdata[Gdata.columns[-2:]]
NewGdata.head()

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

In [44]:
# Appen our first dataframe with the Latitude and Longitude
UpdatedDF2 = pd.concat([UpdatedDF2,NewGdata], axis=1,verify_integrity=False)
UpdatedDF2.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill,Highland Creek,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"West Hill,Guildwood,Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

# part 3 :

In [45]:
# Connecting with FOURAQUARE
CLIENT_ID = '3PZZZMHY3A5PZZON2VSR0HVG0WAIHLNXAOMX4GMVUH4STPWA' # your Foursquare ID
CLIENT_SECRET = 'EN0MVBCDLWUUAESRJVW2LCAUMNRSQ1NKLNRCOCNS4RJIIAJ5' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 3PZZZMHY3A5PZZON2VSR0HVG0WAIHLNXAOMX4GMVUH4STPWA
CLIENT_SECRET:EN0MVBCDLWUUAESRJVW2LCAUMNRSQ1NKLNRCOCNS4RJIIAJ5

In [46]:
address = 'Torronto, CA'

# 43.6532° N, 79.3832° W

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = 43.6532
longitude = -79.3832
print(latitude, longitude)

43.6532 -79.3832

In [51]:
#Creat a map:

import folium

map_Toronto = folium.Map(location=[43.6532, -79.3832], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(UpdatedDF2['Latitude'], UpdatedDF2['Longitude'], UpdatedDF2['Borough'], UpdatedDF2['Neighbourhood']):
    label = '{}, {}'.format(UpdatedDF2['Neighbourhood'],UpdatedDF2['Borough'])
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_Toronto)  

    
    #It shoud be worked!